{% if page.layout != 'index' and page.layout != 'aside' %}
    {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
    {% if posts.size == 0 %}
        {% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
    {% endif %}
    {% if posts.size > 1 %}
    <footer class="lang-options">
		<p>copyright &copy; rop.la 2020</p>
        <em>Read this page in a different language:</em>
        <ul>
        {% for post in posts %}
        <li><a href="{{ site.base-url }}{{ post.url }}" class="{{ post.lang }} title="View in {{post.lang}}">{{ site.data.languages[post.lang].icon }} {{ site.data.languages[post.lang].label }}</a></li>
        {% endfor %}
        </ul>
    </footer>
    {% endif %}
{% else %}
	<footer>
	  <p>copyright &copy; rop.la 2020</p>
	</footer>
{% endif %}