<meta charset="utf-8" />
<title>{{ page.title | default: site.title }}</title>
<meta name="description" content="{{ post.description | default: page.description | default: site.description }}">
<meta name="keywords" content="{{ post.keywords | default: page.keywords | default: site.keywords }}">
<meta name="author" content="{{ post.author | default: page.author | default: site.author }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
<link rel="stylesheet" href="{{ 'assets/css/native.css' | relative_url }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png'  | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png'  | relative_url }}">
<link rel="manifest" href="{{ 'site.webmanifest' | relative_url }}">
<link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
 <script src="https://cdn.jsdelivr.net/npm/highlightjs-line-numbers.js/dist/highlightjs-line-numbers.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/googlecode.min.css">
<link rel="stylesheet" href="{{ 'assets/css/highlight-ln.css' | relative_url }}" />
 
 <script>
    hljs.highlightAll(); // initialize highlighting
    hljs.initLineNumbersOnLoad(); // apply line numbering
 </script>
