<footer>
    
    <p>Follow us on:</p>

    <ul class="icons">
        <li>
            <a href="https://twitter.com/{{ site.twitter_username | escape }}" class="icon brands fa-twitter">
                <span class="label">Twitter</span>
            </a>
        </li>
        <li>
            <a href="https://github.com/{{ site.github_username | escape }}" class="icon brands fa-github">
                <span class="label">Github</span>
            </a>
        </li>
        <li>
            <a href="https://www.youtube.com/channel/{{ site.youtube_channel | escape }}" class="icon brands fa-youtube">
                <span class="label">Youtube</span>
            </a>
        </li>
        <li>
            <a href="mailto:{{ site.email | escape }}" class="icon solid fa-envelope">
                <span class="label">Email</span>
            </a>
        </li>
        <li>
            <a href="{{ 'feed.xml' | relative_url }}" class="icon solid fa-rss">
                <span class="label">Feed</span>
            </a>
        </li>
    </ul>
</footer>