<footer>
    <ul class="icons">
        <li><a href="https://twitter.com/rop_la" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://github.com/rop-la/" class="icon brands fa-github"><span class="label">Github</span></a></li>
        <li><a href="https://www.youtube.com/channel/UCg01TfhxLro71ppULtIBAjw" class="icon brands fa-youtube"><span class="label">Youtube</span></a></li>
        <li><a href="mailto:devnull@rop.la" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
</footer>