<!-- Scripts -->
<script src="{{ 'assets/js/jquery.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.scrollex.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/jquery.scrolly.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/browser.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/breakpoints.min.js' | relative_url }}"></script>
<script src="{{ 'assets/js/util.js' | relative_url }}"></script>
<script src="{{ 'assets/js/main.js' | relative_url }}"></script>
{% include google-analytics.html %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        tex2jax: {
            inlineMath: [['$','$'], ['\\(','\\)']],
            processEscapes: true
        }
    });
</script>