
@keyframes blink {
  0%    { opacity: 1.0; }
  20%   { opacity: 0.0; }
  50%   { opacity: 0.0; }
  70%   { opacity: 1.0; }
  100%  { opacity: 1.0; }
}

#block {
  animation-name: blink;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
}
