@font-face {
    font-family: 'Plateia Bold';
    src: url(../fonts/plateia_bold.ttf) format('truetype');
}

#logo {
    font-family: 'Plateia Bold';
    color: #fff !important;
}


ul.feature-icons li.full-row {
    width: 96%;
}

code {
    background-color: #f8f8f8;
    color: #24292e;
}
