---
layout: banner
---

{% assign posts = site.posts | where:"lang", "en" %}
<section>
    <div class="container">
        <h3>EN</h4>
    <ul>
{% for post in posts %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
{% endfor %}
    </ul>
</div>
</section>

{% assign posts = site.posts | where:"lang", "es" %}
<section>
    <div class="container">
        <h3>ES</h4>
    <ul>
{% for post in posts %}
    <li><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></li>
{% endfor %}
    </ul>
</div>
</section>