<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{ page.title | default: site.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
		<link rel="stylesheet" href="{{ 'assets/css/native.css' | relative_url }}" />

		<link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | relative_url }}">
		<link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon-32x32.png'  | relative_url }}">
		<link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon-16x16.png'  | relative_url }}">
		<link rel="manifest" href="{{ 'site.webmanifest' | relative_url }}">
		<link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | relative_url }}" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body class="is-preload">

		{% include header.html %}

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">
						
						{{ content }}
	
					</div>

				{% include footer.html %}

			</div>

			{% include scripts.html %}
	</body>
</html>