<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" type="image/png" href="{{ site.icon_16 | relative_url }}" sizes="16x16">
    <link rel="icon" type="image/png" href="{{ site.icon_32 | relative_url }}" sizes="32x32">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{{ site.icon | relative_url }}" sizes="16x16 32x32 48x48">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">

    <title>{{ page.title | default: site.title }}</title>
  </head>

  <body>
    <div class="container">
      {% include header.html %}

      {{ content }}

      {% include footer.html %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% include google-analytics.html %}
  </body>

</html>
