---
layout: banner
lang: en
---

{% assign lang = page.lang  | default: site.lang %}

{% assign posts = site.posts | where:"lang", lang %}

{% for post in posts limit:5 %}
<section>
    <div class="container">
        <header>
            <h3>
                <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h3>
            <em class="">
                <time datetime="{{ page.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
            </em>            
        </header>

        <p>{{ post.excerpt }}</p>

        <footer>
            <a class="button alt small" href="{{ post.url | relative_url }}">
                {{ site.data.langs | where: "lang", lang | map: "read_more" | first }}
            </a>
        </footer>
    </div>
</section>
{% endfor %}