---
layout: aside
---

<article>
  <header>
    <h1>
      {{ page.title | escape }}
    </h1>
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
	{% if page.layout != 'index' %}
	  {% assign posts=site.posts | where:"lang-ref", page.lang-ref | sort: 'lang' %}
	  {% if posts.size == 0 %}
		{% assign posts=site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
	  {% endif %}
	  {% if posts.size > 1 %}
		{% for post in posts %}
		<a href="{{ site.base-url }}{{ post.url }}" class="{{ post.lang }} title="View in {{post.lang}}">{{ post.lang }}</a>
		{% endfor %}
	  {% endif %}
	{% endif %}

  </header>

  {{ content }}

  <footer>
    {% if page.previous != nil %}
    <a class="btn btn-sm" href="{{ page.previous.url | relative_url }}">&lt;&lt; Prev</a>
    {% endif %}

    <a class="btn btn-sm" href="{{ 'index.html' | relative_url }}">Home</a>

    {% if page.next != nil %}
    <a class="btn btn-sm" href="{{ page.next.url | relative_url }}">Next &gt;&gt;</a>
    {% endif %}
  </footer>

</article>
